/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
.contenitore{
    margin: 30px auto;
}
/* 
    MAIN
*/
.black{
    background-color: black;
    height: calc(100vh - 70px);
    overflow: auto;
}
.button-container{
    position: fixed;
    z-index: 1;
    right: 25px;
}
.button-container button {
    margin-top: 5px;
    margin-right: 5px;
}
.contenitore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.people{
    position: relative;
    margin-right: 5px;
    margin-bottom: 10px;
}

.people > img{
    width: 200px;
    height: 150px;
    
}
.name{
    position: absolute;
    bottom: 4px;
    left: 0;
    color: white;
    padding: 3px;
    background-color: rgba(236, 236, 236, 0.5);
}
/* 
    FOOTER
*/
footer{
    height: 70px;
    background-color:black;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.footer-class{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.first-cl{
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.second-cl{
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    font-size: 35px;
    color: red;
}
.icon2{
    font-size: 35px;
    color: white;
    margin-left: 20px;
}
.icon3{
    font-size: 35px;
    color: green;
    margin-left: 20px;
}

.format
{
    text-align: center;
    padding-left: 10px;
    font-size: 20px;
}
.icon{
    padding-left: 10px;
}
.format > div{
    padding-right: 5px;
    text-align: center;
    font-size: 20px;
}
.end-meeting{
    color: red;
    background-color: rgba(236, 236, 236, 0.5);
    padding: 20px 10px;
}