/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/
.contenitore{
    margin: 30px auto;
}
/* 
    MAIN
*/
.black{
    background-color: black;
    height: calc(100vh - 100px);
    overflow: auto;
}
.button-container{
    position: fixed;
    right: 20px;
}
.button-container button {
    margin-top: 5px;
    margin-right: 5px;
}
.contenitore{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.people{
    position: relative;
    margin-right: 5px;
    margin-bottom: 10px;
}

.people > img{
    width: 200px;
    height: 150px;
    
}
.name{
    position: absolute;
    bottom: 4px;
    left: 0;
    color: white;
    padding: 3px;
    background-color: rgba(236, 236, 236, 0.5);
}
/* 
    FOOTER
*/
footer{
    height: 100px;
    background-color: green;
}